<a href="https://colab.research.google.com/github/jpaulbrowning/basketball/blob/master/chapter_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import tensorflow as tf

# 1.2. MANIPULATING DATA WITH PANDAS.

#Create a 4 column DataFrame with 10 rows, the first column being a date field and the rest numbers.
#Fill the first column with the first day of each month for 3 years (for example: 1/1/2018, 2/1/2018).
#Fill the next 2 columns with random numbers.

data = { 'date': pd.date_range(start='1/1/2018',periods=36, freq='MS'),
         'Col2': np.random.randint(1,20,36),
         'Col3': np.random.randint(1,20,36)}

df = pd.DataFrame(data)

#Fill the 4th column with the difference of the first 2 data columns (for example: Col3 - Col2).

df['Col4'] = df['Col3'] - df['Col2']

print(df)

#Break the DataFrame into 3 different DataFrames based on the dates (for example: 2018, 2019, 2020)

df = df.set_index(df['date'])
df = df.sort_index()
df2018 = df['2018-01-01':'2018-12-01']
df2019 = df['2019-01-01':'2019-12-01']
df2020 = df['2020-01-01':'2020-12-01']

print(df2018)
print(df2019)
print(df2020)

# 1.3. CREATE A NEURAL NETWORK THAT CAN CONVERT CELSIUS TO FAHRENHEIT.

#Using TensorFlow and Keras, build a single layered network with a single input, single output, single neuron.
l0 = tf.keras.layers.Dense(units=1, input_shape=[1])
model = tf.keras.Sequential([l0])
model.compile(loss='mean_squared_error', optimizer=tf.keras.optimizers.Adam(0.1))

#Using Numpy, generate input/ouput test values.
celsius = np.array([-40, -10, 0, 8, 15, 22, 38], dtype=float)
fahrenheit = np.array([-40, 14, 32, 46, 59, 72, 100], dtype=float)

#Train network on data.
history = model.fit(celsius, fahrenheit, epochs=500, verbose=False)
print("Trained.")

#Test network.
print(model.predict([52]))
print(model.predict([78]))


#Examine weights.
print(format(l0.get_weights()))

         date  Col2  Col3  Col4
0  2018-01-01     7     4    -3
1  2018-02-01    14     3   -11
2  2018-03-01     7     8     1
3  2018-04-01    14     4   -10
4  2018-05-01     6    10     4
5  2018-06-01     5     5     0
6  2018-07-01    10    19     9
7  2018-08-01     3     5     2
8  2018-09-01    13     5    -8
9  2018-10-01     1    12    11
10 2018-11-01    19     1   -18
11 2018-12-01     7    19    12
12 2019-01-01    12     2   -10
13 2019-02-01    13    17     4
14 2019-03-01     8    19    11
15 2019-04-01     4    16    12
16 2019-05-01     7    14     7
17 2019-06-01     6    11     5
18 2019-07-01    17    17     0
19 2019-08-01     3     4     1
20 2019-09-01     8     9     1
21 2019-10-01    16     6   -10
22 2019-11-01     9    11     2
23 2019-12-01    11    11     0
24 2020-01-01    17    19     2
25 2020-02-01    19     5   -14
26 2020-03-01    16     4   -12
27 2020-04-01     6     4    -2
28 2020-05-01     3     8     5
29 2020-06-01    18    12    -6
30 2020-07-01     2    17    15
31 2020-08-01    16    10    -6
32 2020-09-01    18     2   -16
33 2020-10-01    19    13    -6
34 2020-11-01     4     2    -2
35 2020-12-01     7    13     6
                 date  Col2  Col3  Col4
date
2018-01-01 2018-01-01     7     4    -3
2018-02-01 2018-02-01    14     3   -11
2018-03-01 2018-03-01     7     8     1
2018-04-01 2018-04-01    14     4   -10
2018-05-01 2018-05-01     6    10     4
2018-06-01 2018-06-01     5     5     0
2018-07-01 2018-07-01    10    19     9
2018-08-01 2018-08-01     3     5     2
2018-09-01 2018-09-01    13     5    -8
2018-10-01 2018-10-01     1    12    11
2018-11-01 2018-11-01    19     1   -18
2018-12-01 2018-12-01     7    19    12
                 date  Col2  Col3  Col4
date
2019-01-01 2019-01-01    12     2   -10
2019-02-01 2019-02-01    13    17     4
2019-03-01 2019-03-01     8    19    11
2019-04-01 2019-04-01     4    16    12
2019-05-01 2019-05-01     7    14     7
2019-06-01 2019-06-01     6    11     5
2019-07-01 2019-07-01    17    17     0
2019-08-01 2019-08-01     3     4     1
2019-09-01 2019-09-01     8     9     1
2019-10-01 2019-10-01    16     6   -10
2019-11-01 2019-11-01     9    11     2
2019-12-01 2019-12-01    11    11     0
                 date  Col2  Col3  Col4
date
2020-01-01 2020-01-01    17    19     2
2020-02-01 2020-02-01    19     5   -14
2020-03-01 2020-03-01    16     4   -12
2020-04-01 2020-04-01     6     4    -2
2020-05-01 2020-05-01     3     8     5
2020-06-01 2020-06-01    18    12    -6
2020-07-01 2020-07-01     2    17    15
2020-08-01 2020-08-01    16    10    -6
2020-09-01 2020-09-01    18     2   -16
2020-10-01 2020-10-01    19    13    -6
2020-11-01 2020-11-01     4     2    -2
2020-12-01 2020-12-01     7    13     6
Trained.
[[123.93327]]
[array([[1.8208855]], dtype=float32), array([29.247223], dtype=float32)]